.date-range-title {
  color: #3e99c0;
}

.date-range-date-container {
  border-radius: 8px;
  border: 1px solid #dfe1e5;
  width: 265px;
  height: 44px;
  margin-bottom: 20px;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
}

.date-range-date {
  border: none;
  border-radius: 8px;
  width: 115px;
  height: 42px;
  padding-left: 5px;
}

.nice-dates-navigation,
.nice-dates-day {
  color: rgb(17, 17, 17);
}

.nice-dates-popover {
  box-shadow: none;
  border: 1px solid #ddd;
  border-radius: 2px;
  max-width: 480px;
  transition: none;
}

.nice-dates-day:before {
  background-color: #3e99c0;
}

.nice-dates-day:after {
  border: 1px solid #3e99c0;
}

.date-range-date {
  width: 110px;
}

.date-range-date.-focused {
  border-color: none;
}

.date-range-container:hover {
  background-color: white;
  box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px 0px;
  color: #212121;
}

.date-range-date-line {
  margin-right: 10px;
  margin-left: 10px;
  font-size: 26px;
  color: #3e99c0;
  background-color: white;
  transform: rotate(90deg);
  z-index: 0;
}

.nice-dates-popover {
  width: 35%;
}

@media only screen and (min-device-width: 300px) and (max-device-width: 480px) {
  .date-range-container {
    width: 90%;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .nice-dates-popover {
    width: 85%;
  }
}
