.schedule-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 480px;
  margin-left: auto;
  margin-right: auto;
}

.schedule-container h3{
    margin-top: 50px;
}

.schedule-container-time {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}

.schedule-container-time p {
  width: 100px;
  height: 100px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: #afd9eb;
  color: #168dc0;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 30px;
}

.schedule-container-time p:hover {
  background-color: #168dc0;
  cursor: pointer;
  color: white;
}

@media only screen and (min-device-width: 300px) and (max-device-width: 480px) {
  .schedule-container {
    width: 320px;
  }

  .schedule-container-time p {
    width: 85px;
    height: 85px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
